{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Starts Head Section -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>www.niki9011.bg</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/static/css/homepage.css">

</head>
<!-- End Head Section -->

<!-- Starts Navbar Section -->
<body>
  <header class="header">
    <a href="{% url 'homepage' %}" class="logo">Python Developer</a>
    <nav class="nav-items">
      <a href="{% url 'homepage' %}">Home</a>
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'certifications' %}">Certificates</a>
      <a href="{% url 'contact' %}">Contact</a>
    </nav>
  </header>
  <!-- End Navbar Section -->

<!-- Starts Main Section -->
<main>
    {% block page_content %}
    {% endblock %}

{% block page_contact %}
    {% endblock %}

{% block page_about %}
    {% endblock %}

{% block page_certifications %}
    {% endblock %}

{% block page_skills %}
    {% endblock %}
</main>
<!-- End Main Section -->

  <!-- Starts Footer Section -->
<footer class="footer">
    <div class="copy">&copy; 2023 Nikolay Videnov</div>
    </div>
  </footer>
<!-- End Footer Section -->

</body>

</html>