{% extends 'base.html' %}
{% block page_contact %}
    {% load static %}

<main>

    <div class="bottom-links">
      <div class="links">
        <span>Social Links</span>
          <img src="/static/images/contact.png" style="width:100%">
        <a href="https://github.com/niki9011"><i class="fab fa-github fa-3x" style="color:black"></i></a>
        <a href="https://www.linkedin.com/in/nikolay-videnov-968648239/"><i class="fab fa-linkedin fa-3x" style="color:#0077b5"></i></a>
        <a href="https://www.facebook.com/nikolai.videnov/"><i class="fab fa-facebook fa-3x" style="color:#3F51B5"></i></a>

      </div>

</main>

 {% endblock %}
