{% extends 'base.html' %}
{% block page_content %}
    {% load static %}

<main>
    <div class="intro">

<marquee><h1>HI, I AM NIKOLAY.</h1></marquee>
        <marquee
  direction="down"
  width="350"
  height="200"
{#  behavior="alternate"#}
{#  style="border:moccasin">#}
  <marquee behavior="alternate"> <p>Welcome to my portfolio.</p></marquee>
</marquee>


    </div>
    <div class="achievements">
      <div class="work">
          <a class="btn btn-large btn-primary logout" href="https://softuni.bg/blog/success-story-2023-un-project?fbclid=IwAR1Rs-pR9PkD2jYXF-oByjj8nYHNpkw4fIPYyRQqMBdeSrIle7DepSL12nw#">
            <i class="fas fa-atom" aria-hidden="true"></i>
            <p class="work-heading">Projects</p>
      </div>

      <div class="work">
          <a class="btn btn-large btn-primary logout" href="{% url 'skills' %}">
            <i class="fas fa-skiing"></i>
            <p class="work-heading">Skills</p>



{#        <a class="btn btn-large btn-primary logout" href="#">#}
{#        <i class="fa fa-sign-out" aria-hidden="true">Logout</i>#}
{#</a>#}

{#    </div>#}
{#    <div class="about-me">#}
{#      <div class="about-me-text">#}
{#        <h2>About Me</h2>#}
{#        <p>I’m a computer programmer who is passionate about writing code, solving problems, automating and building software.</p>#}
{#      </div>#}
{#      <img src="/static/images/me.jpg" alt="me">#}
{#    </div>#}
  </main>

 {% endblock %}
